--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.etkinlikler DROP CONSTRAINT IF EXISTS fk8vimqw1g9l60yh16dm6vn8a91;
ALTER TABLE IF EXISTS ONLY public.kategoriler DROP CONSTRAINT IF EXISTS kategoriler_pkey;
ALTER TABLE IF EXISTS ONLY public.etkinlikler DROP CONSTRAINT IF EXISTS etkinlikler_pkey;
ALTER TABLE IF EXISTS ONLY public.etkinlik DROP CONSTRAINT IF EXISTS etkinlik_pkey;
ALTER TABLE IF EXISTS public.kategoriler ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.etkinlikler ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.kategoriler_id_seq;
DROP TABLE IF EXISTS public.kategoriler;
DROP SEQUENCE IF EXISTS public.etkinlikler_id_seq;
DROP TABLE IF EXISTS public.etkinlikler;
DROP TABLE IF EXISTS public.etkinlik;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: etkinlik; Type: TABLE; Schema: public; Owner: dernek_user
--

CREATE TABLE public.etkinlik (
    tip character varying(31) NOT NULL,
    id bigint NOT NULL,
    gecerlilik_tarihi timestamp(6) without time zone,
    icerik text,
    konu character varying(1000) NOT NULL,
    resim_yolu character varying(500),
    haber_linki character varying(1000),
    created_by character varying(100),
    is_active boolean,
    updated_by character varying(100),
    updated_time timestamp(6) without time zone,
    hedef_grup character varying(200),
    kategori character varying(100),
    oncelik_seviyesi integer,
    etiketler character varying(500),
    "g├Âr├╝nt├╝lenme_sayisi" integer,
    kaynak character varying(200),
    yazar character varying(100)
);


ALTER TABLE public.etkinlik OWNER TO dernek_user;

--
-- Name: etkinlik_id_seq; Type: SEQUENCE; Schema: public; Owner: dernek_user
--

ALTER TABLE public.etkinlik ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.etkinlik_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: etkinlikler; Type: TABLE; Schema: public; Owner: dernek_user
--

CREATE TABLE public.etkinlikler (
    tur character varying(31) NOT NULL,
    id bigint NOT NULL,
    created_by character varying(100),
    created_time timestamp(6) without time zone NOT NULL,
    icerik text NOT NULL,
    is_active boolean,
    konu character varying(1000) NOT NULL,
    resim_yolu character varying(255),
    updated_by character varying(100),
    updated_time timestamp(6) without time zone,
    hedef_grup character varying(200),
    oncelik_seviyesi integer,
    haber_linki character varying(255),
    kategori_id bigint,
    gecerlilik_tarihi timestamp(6) without time zone
);


ALTER TABLE public.etkinlikler OWNER TO dernek_user;

--
-- Name: etkinlikler_id_seq; Type: SEQUENCE; Schema: public; Owner: dernek_user
--

CREATE SEQUENCE public.etkinlikler_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.etkinlikler_id_seq OWNER TO dernek_user;

--
-- Name: etkinlikler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dernek_user
--

ALTER SEQUENCE public.etkinlikler_id_seq OWNED BY public.etkinlikler.id;


--
-- Name: kategoriler; Type: TABLE; Schema: public; Owner: dernek_user
--

CREATE TABLE public.kategoriler (
    id bigint NOT NULL,
    ad character varying(100) NOT NULL
);


ALTER TABLE public.kategoriler OWNER TO dernek_user;

--
-- Name: kategoriler_id_seq; Type: SEQUENCE; Schema: public; Owner: dernek_user
--

CREATE SEQUENCE public.kategoriler_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kategoriler_id_seq OWNER TO dernek_user;

--
-- Name: kategoriler_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dernek_user
--

ALTER SEQUENCE public.kategoriler_id_seq OWNED BY public.kategoriler.id;


--
-- Name: etkinlikler id; Type: DEFAULT; Schema: public; Owner: dernek_user
--

ALTER TABLE ONLY public.etkinlikler ALTER COLUMN id SET DEFAULT nextval('public.etkinlikler_id_seq'::regclass);


--
-- Name: kategoriler id; Type: DEFAULT; Schema: public; Owner: dernek_user
--

ALTER TABLE ONLY public.kategoriler ALTER COLUMN id SET DEFAULT nextval('public.kategoriler_id_seq'::regclass);


--
-- Data for Name: etkinlik; Type: TABLE DATA; Schema: public; Owner: dernek_user
--

COPY public.etkinlik (tip, id, gecerlilik_tarihi, icerik, konu, resim_yolu, haber_linki, created_by, is_active, updated_by, updated_time, hedef_grup, kategori, oncelik_seviyesi, etiketler, "g├Âr├╝nt├╝lenme_sayisi", kaynak, yazar) FROM stdin;
\.


--
-- Data for Name: etkinlikler; Type: TABLE DATA; Schema: public; Owner: dernek_user
--



--
-- Data for Name: kategoriler; Type: TABLE DATA; Schema: public; Owner: dernek_user
--

COPY public.kategoriler (id, ad) FROM stdin;
1	Genel
2	Spor
3	K├╝lt├╝r
4	E─şitim
5	Sa─şl─▒k
\.


--
-- Name: etkinlik_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dernek_user
--

SELECT pg_catalog.setval('public.etkinlik_id_seq', 11, true);


--
-- Name: etkinlikler_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dernek_user
--

SELECT pg_catalog.setval('public.etkinlikler_id_seq', 98, true);


--
-- Name: kategoriler_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dernek_user
--

SELECT pg_catalog.setval('public.kategoriler_id_seq', 1, false);


--
-- Name: etkinlik etkinlik_pkey; Type: CONSTRAINT; Schema: public; Owner: dernek_user
--

ALTER TABLE ONLY public.etkinlik
    ADD CONSTRAINT etkinlik_pkey PRIMARY KEY (id);


--
-- Name: etkinlikler etkinlikler_pkey; Type: CONSTRAINT; Schema: public; Owner: dernek_user
--

ALTER TABLE ONLY public.etkinlikler
    ADD CONSTRAINT etkinlikler_pkey PRIMARY KEY (id);


--
-- Name: kategoriler kategoriler_pkey; Type: CONSTRAINT; Schema: public; Owner: dernek_user
--

ALTER TABLE ONLY public.kategoriler
    ADD CONSTRAINT kategoriler_pkey PRIMARY KEY (id);


--
-- Name: etkinlikler fk8vimqw1g9l60yh16dm6vn8a91; Type: FK CONSTRAINT; Schema: public; Owner: dernek_user
--

ALTER TABLE ONLY public.etkinlikler
    ADD CONSTRAINT fk8vimqw1g9l60yh16dm6vn8a91 FOREIGN KEY (kategori_id) REFERENCES public.kategoriler(id);


--
-- PostgreSQL database dump complete
--

